<% content_for :page_classes do 'bookings bookings-show' end %>

<h2>
  You have successfully booked your flight! 
  <%= link_to 'Book Another Flight', flights_path %>
</h2>
<%= render @booking.flight %>

<div class="passengers">
  <h4>Passenger Information</h4>
  <% @booking.passengers.each.with_index(1) do |passenger, i| %>
    <h5>Passenger # <%= i %></h5>
    <%= render passenger %>
  <% end %>
</div>
