<div class="passenger">
  <div class="name">
    <h4 class="label">Name:</h4>
    <%= passenger.full_name %>
  </div>
  <div class="date-of-birth">
    <h4 class="label">Date of Birth:</h4>
    <%= passenger.date_of_birth.strftime('%m/%d/%Y') %>
  </div>
  <div class="email">
    <h4 class="label">Email Address:</h4>
    <%= passenger.email %>
  </div>
</div>
